@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */

  --main-lighter: #F9F0EA;
  --main-dark: #4D2D18;
  --main-light: #4D2D1866; 
  --main-drop-shadow:'0 4px 6px rgba(0, 0, 0, 0.1)';
  --main-light-background:#fbf7f2;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
