@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */

  --main-lighter: #f9f0ea;
  --main-dark: #4d2d18;
  --main-light: #4d2d1866;
  --main-drop-shadow: "0 4px 6px rgba(0, 0, 0, 0.1)";
  --main-background: #faf7f0;
  --main-darker: #361714;
  --main-red:#c83232;
  --main-blue:#2929af;
  --main-green:#3e8d3e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
}

.customHoverColor:hover {
  background-color: var(--main-lighter) !important;
}

.customActiveColor:active {
  background-color: var(--main-lighter) !important;
}

.customSelectedColor .nextui-dropdown-item.selected {
  background-color: var(--main-lighter) !important;
}

/* styles/customSelect.css */

.custom-select option {
  background-color: var(--main-lighter) !important;
  color: black;
  padding: 10px;
}

.custom-select:hover,
.custom-select option:hover {
  background-color: var(--main-lighter) !important;
 
}

.custom-select:focus {
  border-color: var(--main-lighter) !important;
  outline: none;
}

option:hover {
  background-color:var(--main-dark) !important;
 
}
.text-balance {
  text-align: balance;
}

/* styles/globals.css */

.show {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show:hover {
  background-color: #3e8e41;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dialogContent {
  position: relative;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close:hover {
  background-color: #c0392b;
}

.slidercol{
  background-color:var(--main-dark) !important;

}

.slider-label {
  display: block;
  text-align: center;
  white-space: pre-line; /* Ensures line breaks are respected */
}
/* styles/globals.css */

.status-delivered {
  color: green;
}



.status-processing {
  color: blue;
}

.content-blurred {
  filter: blur(5px);  
  pointer-events: none; 
}


.modal-backdrop {
  z-index: 9999; 
}

.subtotal-cell {
  font-weight: bold;
  text-align: right;
  background-color: #f3f4f6; /* Light gray */
  padding: 8px 16px;
}

/* Ensure modal is always on top */
div[data-nextui-modal] {
  z-index: 1050; /* Higher than other components */
}
